* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.container {
  width: 100%;
  background-color: #ffffff;
}
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.left-nav {
  width: 40px;
  height: 40px;
  padding: 1.4rem 0;
  height: 5vh;
  border-radius: 50%;
  border: 1px solid rgb(238, 227, 227);
  cursor: pointer;
}
.right-nav {
  cursor: pointer;
  font-size: 1.3rem;
}

.left-nav p {
  transform: translateY(-10px);
  font-weight: 600;
}

.grid-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/4;
}
.box2 {
  grid-column: 3/5;
  grid-row: 1/3;
}
.box3 {
  grid-column: 3/5;
  grid-row: 3/4;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child1 {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.child1 h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-family: "Times New Roman", Times, serif;
  color: #263539;
}
.child1 p {
  margin-top: 2.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: rgb(136, 130, 130);
}
.child2 {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.child2 img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: center;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border-bottom: 1px solid rgb(216, 207, 207);
}

.item1 {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item2 {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 p {
  line-height: 1.4rem;
  color: rgb(131, 125, 125);
}

.first {
  width: 100%;
  height: 100%;
}

.first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.second {
  width: 100%;
  height: 100%;
}

.second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.last {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-child {
  width: 60%;
  height: 90%;
  margin-top: 1rem;
}

.inner-child img {
  width: 60%;
  margin: auto;
  height: 60%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (max-width: 900px) {
  .nav {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .left-nav {
    width: 45px;
    height: 45px;
  }
  .grid-container {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .box1,
  .box2,
  .box3 {
    grid-column: auto;
    grid-row: auto;
  }

  .child1 {
    width: 100%;
    height: auto;
  }

  .child2 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .child2 img {
    width: 100%;
    height: auto;
  }
  .inner {
    width: 100%;
    height: auto;
    gap: 2rem;
  }
  .item1 {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .item2 {
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
  }
  .last {
    width: 100%;
    height: auto;
  }

  .inner-child {
    width: 100%;
    height: auto;
  }

  .inner-child img {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .child2 {
    margin-bottom: 2rem;
  }
  .item1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .first {
    width: 100%;
    height: auto;
  }

  .second {
    width: 100%;
    height: auto;
  }

  .first img {
    width: 100%;
    height: auto;
  }
  .last {
    width: 100%;
    height: auto;
  }

  .inner-child {
    width: 100%;
    height: auto;
  }

  .inner-child img {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}
